<section>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="members">
            <h1 class="page-header">All Friends</h1>
            <div class="row member-row">
              <div class="col-md-3">
                <img src="../../assets/img/user.png" alt="user" class="img-thumbnail" />
                <div class="text-center">Charan</div>
              </div>
              <div class="col-md-3">
               
              </div>
              <div class="col-md-3">
                <p>
                  <a href="#" class="btn btn-default btn-block"
                    ><i class="fa fa-envelope"></i> Send Message
                  </a>
                </p>
              </div>
              <div class="col-md-3">
                <p>
                  <a routerLink="user01" class="btn btn-primary btn-block"
                    ><i class="fa fa-edit"></i> View Profile
                  </a>
                </p>
              </div>
            </div>

            <div class="row member-row">
              <div class="col-md-3">
                <img src="../../assets/img/user.png" alt="user" class="img-thumbnail" />
                <div class="text-center">Bhaskar</div>
              </div>
              <div class="col-md-3">
                
              </div>
              <div class="col-md-3">
                <p>
                  <a href="#" class="btn btn-default btn-block"
                    ><i class="fa fa-envelope"></i> Send Message
                  </a>
                </p>
              </div>
              <div class="col-md-3">
                <p>
                  <a href="#" class="btn btn-primary btn-block"
                    ><i class="fa fa-edit"></i> View Profile
                  </a>
                </p>
              </div>
            </div>

            <div class="row member-row">
              <div class="col-md-3">
                <img src="../../assets/img/user.png" alt="user" class="img-thumbnail" />
                <div class="text-center">Mohan Gowda</div>
              </div>
              <div class="col-md-3">
                
              </div>
              <div class="col-md-3">
                <p>
                  <a href="#" class="btn btn-default btn-block"
                    ><i class="fa fa-envelope"></i> Send Message
                  </a>
                </p>
              </div>
              <div class="col-md-3">
                <p>
                  <a href="#" class="btn btn-primary btn-block"
                    ><i class="fa fa-edit"></i> View Profile
                  </a>
                </p>
              </div>
            </div>

            <div class="row member-row">
              <div class="col-md-3">
                <img src="../../assets/img/user.png" alt="user" class="img-thumbnail" />
                <div class="text-center">Mounika</div>
              </div>
              <div class="col-md-3">
                
              </div>
              <div class="col-md-3">
                <p>
                  <a href="#" class="btn btn-default btn-block"
                    ><i class="fa fa-envelope"></i> Send Message
                  </a>
                </p>
              </div>
              <div class="col-md-3">
                <p>
                  <a href="#" class="btn btn-primary btn-block"
                    ><i class="fa fa-edit"></i> View Profile
                  </a>
                </p>
              </div>
            </div>

            <div class="row member-row">
              <div class="col-md-3">
                <img src="../../assets/img/user.png" alt="user" class="img-thumbnail" />
                <div class="text-center">Ashwini</div>
              </div>
              <div class="col-md-3">
                
              </div>
              <div class="col-md-3">
                <p>
                  <a href="#" class="btn btn-default btn-block"
                    ><i class="fa fa-envelope"></i> Send Message
                  </a>
                </p>
              </div>
              <div class="col-md-3">
                <p>
                  <a href="#" class="btn btn-primary btn-block"
                    ><i class="fa fa-edit"></i> View Profile
                  </a>
                </p>
              </div>
            </div>

            <div class="row member-row">
              <div class="col-md-3">
                <img src="../../assets/img/user.png" alt="user" class="img-thumbnail" />
                <div class="text-center">Mallikarjun</div>
              </div>
              <div class="col-md-3">
                
              </div>
              <div class="col-md-3">
                <p>
                  <a href="#" class="btn btn-default btn-block"
                    ><i class="fa fa-envelope"></i> Send Message
                  </a>
                </p>
              </div>
              <div class="col-md-3">
                <p>
                  <a href="#" class="btn btn-primary btn-block"
                    ><i class="fa fa-edit"></i> View Profile
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>