<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="profile">
          <h1 class="page-header">L & D</h1>
          <div class="row">
            <div class="col-md-4">
              <img src="../../assets/img/l and d logo.JPG" class="img-thumbnail" />
            </div>            
          </div>
          <br />
          <div class="row">
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Profile Wall</h3>
                </div>
                <div class="panel-body">
                  <form>
                    <div class="form-group">
                      <img src="../../assets/img/testimonial-2.jpg" alt="" width="85" height="100">
                      <p><i>Congratulations on making it to our team! Our whole team is eagerly looking 
                        forward to working with you. With your creative insights, we can make positive 
                        improvements here.</i></p>
                         <p><b>HR</b></p>
                    </div>                     
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- col-md-8 end -->


      <div class="col-md-4">
        <div class="panel panel-default friends">
          <div class="panel-heading">
            <h3 class="panel-title">Group members</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>
                <a class="img-thumbnail" type="sumbmit" (click)="back2()"
                  ><img src="../../assets/img/image14.jpg" width="60" height="80"
                /></a>
              </li>
            
              <li>
                <a class="img-thumbnail" type="sumbmit" (click)="back1()"
                  ><img src="../../assets/img/image17.jpg"width="60" height="80"
                /></a>
              </li>
              <li>
                <a class="img-thumbnail" type="sumbmit" (click)="back3()"
                  ><img src="../../assets/img/image16.jpg"width="60" height="80"
                /></a>
              </li>
              <li>
                <a class="img-thumbnail" routerLink="/grp3"
                  ><img src="../../assets/img/image5.jpg"width="60" height="80"
                /></a>
              </li>
              
              <li>
                <a class="img-thumbnail" routerLink="/profile"
                  ><img src="../../assets/img/image6.jpg"width="60" height="80"
                /></a>
              </li>
              <li>
                <a class="img-thumbnail" routerLink="/profile"
                  ><img src="../../assets/img/image7.jpg"width="60" height="80"
                /></a>
              </li>
              <li>
                <a class="img-thumbnail" routerLink="/profile"
                  ><img src="../../assets/img/image8.jpg"width="60" height="80"
                /></a>
              </li>
              <li>
                <a class="img-thumbnail" routerLink="/profile"
                  ><img src="../../assets/img/image9.jpg"width="60" height="80"
                /></a>
              </li>
              <li>
                <a class="img-thumbnail" routerLink="/profile"
                  ><img src="../../assets/img/image10.jpg"width="60" height="80"
                /></a>
              </li>
              <li>
                <a class="img-thumbnail" routerLink="/profile"
                  ><img src="../../assets/img/image11.jpg"width="60" height="80"
                /></a>
              </li>
              <li>
                <a class="img-thumbnail" routerLink="/profile"
                  ><img src="../../assets/img/image12.jpg"width="60" height="80"
                /></a>
              </li>
            </ul>
            <div class="clearfix"></div>
            
          </div>
        </div>

        
      </div>


      <div class="clearfix"></div>
      <button class="btn btn-primary" type="submit" (click)="back()">Back</button>
    </div>
  </div>
</section>