<section>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="profile">
            <h1 class="page-header">Charan</h1>
            <div class="row">
              <div class="col-md-4">
                <img src="../../assets/img/user.png" class="img-thumbnail" />
              </div>
              <div class="col-md-8">
                <ul>
                  <li><strong>Name:</strong>Charan</li>
                  <li><strong>Email Address: </strong>Charan01@gmail.com</li>
                  <li><strong>City: </strong>Hyderabad</li>
                  <li><strong>State: </strong>Andrapradesh</li>
                  <li><strong>Gender:</strong> Male</li>
                  <li><strong>Profession: </strong>Web Developer</li>
                </ul>
              </div>
            </div>
            
          </div> 
          </div> 
      </div>
    </div>
  </section>